
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* shared styles */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img{
    max-width: 139px;
    height: 60px;
}

.color-green{
    color: #30B868;
}

.btn{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    cursor: pointer;

    /* display: flex;
    align-items: center; */

}

.icon{
    height: 16px;
    width: 16px;
}

.align-icon{
    display: flex;
    align-items: center; 
    gap: 10px;
}


.title-color-dark{
    color: #001931;
}

/* main styles */

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header #banner{
    background: url(assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px 120px 134px;
    
}

#banner .banner-content{
    max-width: 1360px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32;
}

#banner .banner-content .access{
    background-color: #FFFFFF;
    max-width: 229px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 0 auto 16px;

    
}

#banner .banner-content h1{
    max-width: 770px;
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-content .banner-text{
    color: #FFFFFF;
    margin-bottom: 32px;
    line-height: 24px;
}

.btn-transparent{
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

#notes .notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    /* display: flex; */
    text-align: center;
    /* padding: 120px; */
    padding: 100px;
    

}

.notes-heading{
    margin-bottom: 44px;
}

.notes-heading h2{
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 16px;
}

.notes-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;

}

.note-info{
    display: flex;
    gap: 24px;
    /* justify-content: space-around; */
}

.note-info .info-card{
    max-width: 322px;
    height: 300px;
    border-radius: 8px;
    /* padding: 24px; */
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.note-info .info-card .circle-bg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;

    display: flex;
    align-items: center;
    justify-content: center;
}

.note-info .info-card img{
    width: 32px;
    height: 32px;
    
}

.info-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    text-align: center;
}

.info-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


#second-brain{
    /* padding: 0 120px; */
    padding: 0 100px 120px;
}

.brain-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 60px;

}

.brain-container .brain-bulb{
    max-width: 600px;
    height: 600px;
    border-radius: 12px;
}

.brain-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brain-content .brain-content-info h4{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-content .brain-content-info h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.brain-content .brain-content-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.brain-content .brain-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.brain-content .brain-list .list-item{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(0, 25, 49, 1);

    display: flex;
    gap: 6px;


}